* {
    font-family: "Times New Roman", Times, serif;
    
}

body{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    background-color: #EEE;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 40%;
}

header h1{
    text-align: center;
}

#logo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: black solid 1px;
  }
  
  #logo img{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  @media screen and (width < 800px) {
    header {
      display: flex;
      flex-direction: column;
    }
    .post{
      width: 70%;
    }
  }
  

.post {
    box-sizing: border-box;
    width: 50%;
    margin: 20px auto;
    padding: 10px 30px;
    box-shadow: lightgray 4px 4px 20px;
    img {
      width: 100%;
    }
    h2 {
      margin-bottom: 0;
    }
    p {
      font-weight: 300;
      font-size: 16px;
    }
    button {
      background-color: transparent;
      box-sizing: border-box;
      padding: 5px 10px;
      border: none;
      box-shadow: lightgray 3px 3px 7px;
      margin-right: 20px;
      outline: none;
      font-size: 14px;
      font-weight: 500;
      &:active {
        transform: translate(1px, 1px);
        box-shadow: lightgray 0 0 5px;
      }
    }
  }

  blockquote {
    margin: 0;
  }
  
  blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
  }
 /*  
  blockquote p::before {
    content: '\201C';
  }
  
  blockquote p::after {
    content: '\201D';
  }

   */

.auteur {
    text-align: right;
    font-style: italic;
}

strong{
    font-weight: bold;
}


  